{% extends 'base.html' %}

{% block content %}

{% for k, i in item_dict.items() %}
    <div class="comedians">
        <ul>
            <li>{{ k }} {{ i }}</li>
        </ul>
    </div>
{% endfor %}

    <h3>But let's face it. A list ain't enough.</h3><hr>

    <div class="LOL">
        <iframe src="https://www.youtube.com/embed/KYKGFujJp6Y" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="LOL">
        <iframe src="https://www.youtube.com/embed/RWSTOkE4XBQ" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="LOL">
        <iframe src="https://www.youtube.com/embed/uqT0ayeR8Ps" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="LOL">
        <iframe src="https://www.youtube.com/embed/NBO3vF8p0J0" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="LOL">
        <iframe src="https://www.youtube.com/embed/zezSzrtlo0E" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

{% endblock content %}